@charset "utf-8";

#id_url:valid{
    color: rgb(18, 239, 18);
}

#id_url:invalid{
    color: red;
}

form fieldset{
    background-color:#cec1b9 ;
}

form legend {
    background-color: #DDD0C8;
}

form button{
    background-color: #818181;
}

form button:hover{
    background-color: #DDD0C8;
}
 form {
    width: 100%;
 }

